.container {
    margin: 0 auto;
    max-width: 32em;
    background: yellow;
}

.CodeMirror {
    font-family: 'Fira Mono', monospace;
}

.rendered_content {
    font-family: 'Volkhov', serif;
}